.list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list_container {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: var(--max-height);
  overflow-y: auto;
  width: 100%;

  scrollbar-gutter: stable both-edges;
}

.list_container:has(ul, div) {
  justify-content: flex-start;
  align-items: flex-start;
}
