.search_input {
  width: 100%;
  border: 1px solid var(--color-gray);
  padding: var(--padding-block) var(--padding-inline);
  font-size: var(--font-size-heading-md);
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s ease;

  grid-column: span 2;
}

.search_input:focus,
.search_input:hover {
  border-color: var(--color-blue);
}

.search_input::placeholder {
  color: var(--color-gray);
}

@media screen and (max-width: 768px) {
  .search_input {
    grid-column: span 1;
  }
}
