.lists-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.app-container {
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;

  @media screen and (max-width: 768px) {
    padding: 0;
  }
}
